<style>
.header a {
  color: gray;
  text-decoration: none;

}
</style>

 <div class="header" style="box-shadow: 0px 0px 5px black;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  font-size: 20px;">
    <a href="/Blogs">Home</a>
    <a href="/News">News</a>
    <a href="/Create">Create</a>
  </div>