<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up</title>
  <style>
    .form {
      display: flex;
      height: 50vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 2px solid #434EC7;
      background: linear-gradient(#007FCB,#DE9B19);
      border-radius: 20px;
    }
  </style>
</head>
<body>
  <form class="form" action="/signUp" method="POST">
    <div>
      <label>
       Name
       <hr>
      <input type="text" name="Name" placeholder="Name">
    </label>
    </div>
    <br>
    
    <div>
      <label>
        <hr>
       Password
      <input name="Password" required type="text" placeholder="Password">
    </label>
    </div>
    <br>
    <button style="border:none;border-radius: 10px; background:red;color:white;padding: 10px;" type="submit">sign up!</button>
  </form>
  
  <div class="main">
    <a href="/">already have an account?</a>
    <h1>Create your first account!</h1>
    <h2>have a wonderful experience</h2>
    <h3>nice to meet you!</h3>
    <h4>bye :)</h4>
    <h5>i'm Christopher</h5>
    <h6>mwiya</h6>
  </div>
</body>
</html>