.infor {
  position: absolute;
  background: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  top:-60%;
  left: 10%;
  display: none;
  animation-name: anime;
  animation-duration: 1s;
}
@keyframes anime {
  0%{
    opacity:0;
  }
  100%{
    opacity:100%;
  }
}
.out {
  animation-name:out;
  animation-duration: 1s;
  opacity: 0%;
}
@keyframes out {
  0%{
    opacity:100%;
  }
  100%{
    opacity:0;
  }
}